<header>
  <nav
    class="mx-0 flex h-16 items-center justify-between bg-primary px-4 font-medium text-white lg:px-32">
    <span routerLink="/" class="cursor-pointer text-3xl font-bold"
      >ClimbAlong</span
    >

    <ul class="flex gap-4 text-xl">
      <a routerLink="directives">
        <li class="rounded p-4 hover:bg-primaryHover">Directives</li>
      </a>
      <a routerLink="posts">
        <li class="rounded p-4 hover:bg-primaryHover">Posts</li>
      </a>
      <a routerLink="rxjs">
        <li class="rounded p-4 hover:bg-primaryHover">Rxjs</li>
      </a>
      <a routerLink="signals">
        <li class="rounded p-4 hover:bg-primaryHover">Signals</li>
      </a>
      <a routerLink="greeting">
        <li class="rounded p-4 hover:bg-primaryHover">Greeting</li>
      </a>
      <a routerLink="awesomefeature">
        <li class="rounded p-4 hover:bg-primaryHover">My Awesome Feature</li>
      </a>
    </ul>
  </nav>
</header>
<main class="text-base">
  <router-outlet></router-outlet>
</main>
